body {
  display: flex;
  width: 100%;
}

.cv-header {
  padding: 10px;
  position: fixed;
  width: 35%;
  height: 100%;
  z-index: 2;
  background-color: #b8d7ff;
  overflow-x: hidden;
  scrollbar-width: none;
  font-size: 15px;
}

.cv-content {
  padding: 20px 10px 10px 10px;
  width: calc(100% - 35%);
  left: 35%;
  position: relative;
  font-size: 15px;
}

h1 {
  font-size: 24px;
  font-weight: lighter;
}

.cv-header div {
  margin-bottom: 20px;
  text-align: center;
}

.cv-picture {
  width: 130px;
  border-radius: 50%;
}

@media screen and (min-width: 1400px) {
  .cv-header {
    width: 400px;
  }

  .cv-content {
    width: calc(100% - 400px);
    left: 400px;
  }
}

@media screen and (max-width: 800px) {
  body {
    display: inline;
  }

  .cv-header {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    z-index: auto;
    overflow-x: auto;
    scrollbar-width:auto;
  }
  
  .cv-content {
    width: 100%;
    left: 0;
    position: relative;
  }
}
