:root {
  --dark-container-border: 0.5px solid #303030;
  --datk-container-shadow: #ec013825 0 5px 20px -2px;
}

.body-dark {
  background-color: var(--dark-background);
  color: var(--dark-color);
  transition: all 0.5s ease-in-out;
}

.institute-container {
  background-color: darkred;
  transition: all 0.5s ease-in-out;
}