:root,
[data-theme="dark"] {
  --footer-background: #15151546;
}

[data-theme="light"] {
  --footer-background: #dfe8eb46;
}

body {
  background-image: linear-gradient(
    180deg,
    var(--title-background-up) 0%,
    var(--title-background-down) 100%
  );
  background-position: center;
  background-color: var(--background);
  color: var(--color);
}

@keyframes w_multicolor {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
}

.header-link {
  color: var(--link-color);
}

.header-link:hover {
  color: var(--link-color-hover);
}

.about-container {
  border-radius: 5px;
  background-color: var(--background);
  margin: 4%;
  padding: 30px;
}

#title {
  padding: 15px 10px 15px 15px;
}

.me-header {
  padding: 25px;
  display: flex;
  border: var(--dark-container-border);
  gap: 5px;
  border-radius: 0px;
}

.me-header > .me-head-sidebar {
  width: 30%;
  text-align: center;
}

.me-header .me-head-sidebar > figure {
  display: flex;
  justify-content: center;
}

.me-header .me-head-sidebar figure img {
  width: 220px;
  display: flex;
  border: var(--dark-container-border);
  border-radius: 50%;
}

.skill-cell {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.skill-value .value-container {
  width: 40%;
  margin: 7px 0;
  align-content: center;
  display: flex;
}

.value {
  padding: 4px 12px;
  background-color: #12db4e3d;
  border-radius: 2px;
  border: var(--dark-container-border);
}

.active-value {
  background-color: #12db4f;
}

.me-social {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90%;
}

.me-body .me-social > .media-links {
  justify-content: center;
}

.me-body {
  width: 70%;
  padding: 0 20px;
  list-style: circle !important;
}

.enterprise-name > p {
  font-size: 23px;
  font-weight: lighter;
  padding: 2px 0;
}

.role-title {
  display: flex;
  justify-content: space-between;
}

.role-description {
  padding: 6px 0;
}

.me-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carreer {
  font-size: 15px;
  padding: 15px 60px;
  background-color: #2804491a;
  border: var(--dark-container-border);
  color: var(--color);
}

.carreer:hover {
  background-color: #47008a44;
  transition: 0.5s;
}

.creds-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.creds-title > p {
  font-size: 20px;
  padding: 5px 0;
}

.cred-link {
  cursor: pointer;
  padding: 2px 16px;
  font-size: 15px;
  background-color: transparent;
  color: #6622cc;
  border: none;
}

.cred-link:hover {
  color: var(--color);
  transition: 0.5s;
}

.creds-skils {
  padding: 1px 0;
}


.dino-space {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;

}

.loader {
  --zoom: 0.12;
  --wh: calc(var(--wh-number) * 1px);
  --wh-n: calc(var(--wh-number) * -1px);
  width: calc(var(--wh-number) * var(--wh));
  height: calc(var(--wh-number) * var(--wh));
  --color: #fff;
  --blur: 0;
  filter: drop-shadow(var(--wh-n) 0 var(--blur) var(--color))
    drop-shadow(0 var(--wh-n) var(--blur) var(--color))
    drop-shadow(var(--wh) 0 var(--blur) var(--color))
    drop-shadow(0 var(--wh) var(--blur) var(--color));
  image-rendering: pixelated;
  zoom: var(--zoom);
  animation: mover 0.1s linear infinite;


  .pixel {
    width: var(--wh);
    height: var(--wh);
    box-shadow: var(--shadow);
  }
}

.thanks-container {
  text-align: center;
  align-content: center;
  height: 600px;
}

.thanks-container > p {
  font-size: 28px;
}

.beofalejandro {
  color: #8636fd;
}

.escalia {
  color: var(--escalia-logo);
}

.footer {
  width: 100%;
  height: auto;
  background: linear-gradient(
      to bottom,
      var(--background) 0%,
      var(--background) 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to right, #0ed3da54, #6029c75b);
  position: relative;
  overflow: hidden;
}

.ver-info-container {
  margin: 2% 0;
  padding: 3%;
  border-radius: 5px;
  background-color: var(--background);
  border: var(--dark-container-border);
}

.ver-info-container h2 {
  font-weight: lighter;
  background-color:#8636fd;
  background-size: 600px 100px;
  font-size: 35px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ver-inf-commit-container {
  padding: 2% 0;
}

@media screen and (min-width: 1400px) {
  .about-container {
    margin: 4% 14%;
  }
}

@media screen and (max-width: 800px) {
  .about-container {
    margin: 0;
    padding: 70px 3% 3% 3%;
  }

  .profile-photo-container {
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .member_container {
    display: inline-block;
    margin: 4% 0;
  }

  .workgroup-escalia {
    display: inline;
  }

  .workgroup-escalia > div {
    width: 100%;
  }

  .me-header {
    flex-direction: column;
    align-items: center;
  }

  .me-header > .me-head-sidebar,
  .me-header .me-body {
    width: 100%;
  }

  .me-controls {
    flex-direction: column;
    gap: 10px;
  }
}
