:root {
  --dark-container-border: 0.5px solid #303030;
  --datk-container-shadow: #ec013825 0 5px 20px -2px;

  --background-gradient: linear-gradient(120deg, #bc75ff, rgb(255, 119, 176));
}

body {
  background-position: center;
  background-color: var(--background);
  color: var(--color);
}

.code {
  margin: 2% 1%;
}

code {
  padding: 1% 2%;
  border-radius: 8px;
  border: 0.5px solid #ffffff27;
  font-family: "Consolas";
  background-color: #151515;
}

code:hover {
  background-color: #15151544;
}

.button-repo {
  width: 98%;
  justify-content: center;
  padding: 8px 20px;
  margin: 1%;
  background-color: transparent;
  color: pink;
  font-weight: bold;
  border: 0.5px solid rgba(255, 192, 203, 0.5);
  transition: 0.5s;
}

.button-repo:hover {
  background-color: pink;
  color: var(--light-color);
}

.install-opctions {
  display: flex;
}

.logo_title {
  display: flex;
  gap: 20px;
}

.logo_title h1 {
  font-size: 27px;
  font-weight: normal;
  align-content: center;
}

.content {
  padding: 70px 1% 1% 1%;
  display: flex;
}

.header-link {
  color: var(--color);
}

.header-link:hover {
  color: var(--link-color);
}

.sidebar {
  width: 200px;
}

.sidebar {
  padding: 1% 0;
}

.docs-body {
  width: calc(100% - 200px);
}

.docs-article {
  margin: 2% 3%;
  padding: 3%;
  border-radius: 8px;
}

.docs-title {
  margin: 3% 0;
  text-align: center;
  align-content: center;
  font-size: 30px;
  background: linear-gradient(120deg, #bc75ff, rgb(255, 119, 176));
  background-size: 1400px 100px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.docs-menu-link {
  width: 100%;
  text-align: left;
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: var(--color);
}

.sub-sidebar-item {
  padding-left: 10%;
}

.active {
  color: palevioletred;
}

.docs-menu-link:hover  {
  color: palevioletred;
  transition: 0.3s linear;
}

.docs-menu {
text-align: center;
}

.docs-menu > div {
  margin: 20px;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.menu-button {
  padding: 40px 30px;
  font-size: 15px;
  background: linear-gradient(200deg, #1b009236, #0011ff36);
  border: var(--dark-container-border);
  color: var(--color);
}
.menu-button:hover {
  background-color: #4042b927;
  transition: 0.3s;
}

.article {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  border: var(--dark-container-border);
}

.article > .content-article {
  width: 90%;
}

.article > .controls {
  width: 10%;
  text-align: center;
  align-content: center;
}

.step {
  margin: 1% 0;
}

footer {
  --s: 77px; /* control the size*/
  --c1: #310013;
  --c2: #151515;

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}

@media (max-width: 768px) {
  .logo_title {
    gap: 10px;
  }

  .logo_title h1 {
    font-size: 22px;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    display: block;
  }

  .docs-body {
    width: 100%;
  }

  .docs-menu > div {
    margin: 10px 0;
    justify-content: center;
    display: inline;
  }
}
