:root {
  --hbc-background-base: #02061b;
  --hbc-border-color: #e169ff;
  --hbc-container-backgorund: linear-gradient(110deg, #83f1ff44, #9f8eff42);
}

body {
  /*background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pictures/background/index_bg.jpg);
    */
  background-color: var(--hbc-background-base);
  background-position: center;
  color: var(--dark-color);
}

header {
  border-bottom: 1.5px solid #83f1ffa9;
}

.header-link:hover {
  color: var(--dark-link-color);
}

.hcb-welcome-container {
  background: linear-gradient(180deg, #83f1ffa9, #02061b 80%);
  background-size: 2400px 700px;
  color: var(--hbc-background-base);
  height: 700px;
  padding: calc(60px + 2%) 0 2% 0;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: "Century Gothic";
  font-weight: lighter;
  background: linear-gradient(120deg, #a949f7, #fc559a);
  background-size: 2000px 100px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hbc-con-description {
  width: 65%;
  padding: 8% 5%;
  background-color: var(--light-background);
  position: relative;
  /*box-shadow: #d11bff57 0 10px 50px -3px;*/
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  -webkit-animation: scroll 15s linear infinite;
  animation: scroll 20s linear infinite;
}

.hbc-con-description .hbc-con-text {
  width: 100%;
  height: 100%;
  color: var(--dark-color);
  z-index: 1;
  /*backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  */
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  align-content: center;
}

.banner {
  color: var(--dark-color);
  width: 100%;
  margin: 0;
  padding: 0.5% 6%;
}

.hbc-ban-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.hbc-container {
  margin: 3% 0;
  padding: 0%;
  display: flex;
}

.hbc-container > .hbc-description {
  background: linear-gradient(110deg, #328f9b44, #8471ee42);
  width: 65%;
  padding: 2%;
  border: 1px solid #e169ff;
}

.hbc-container div > h2 {
  margin: 1% 0;
}

.hbc-container > figure {
  width: 35%;
  padding: 2%;
}

@media screen and (min-width: 1400px) {
}

@media screen and (max-width: 800px) {
  .menu {
    background-color: var(--hbc-background-base) !important;
    border-left: 1px solid #83f1ffa9;
  }

  .header-link {
    color: var(--dark-color) !important;
  }

  .hbc-con-description {
    width: 100%;
    box-shadow: none;
  }

  .banner {
    padding: 10% 2%;
  }

  .hbc-con-container {
    margin: 5% 1%;
  }

  .hbc-container > .hbc-description {
    width: 100%;
    padding: 3%;
  }

  figure {
    display: none;
  }
}
