:root {
  --hbc-container-backgorund: linear-gradient(110deg, #17505244 10%, #2f266142);

  --dark-container-border: 0.5px solid #303030;
  --global-container-border: 5px;
}

:root, [data-theme="dark"] {
  --title-background-up: #000000de;
  --title-background-down: #0000009a;
}

[data-theme="light"] {
  --title-background-up: #c7c5c5b4;
  --title-background-down: #cac8c870;
}

body {
  color: var(--color);
  background-color: var(--container-background);
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

.container {
  margin: 50px 5%;
  border-radius: var(--global-container-border);
}

.container-style {
  border: var(--dark-container-border);
  box-shadow: var(--datk-container-shadow);
  background-color: var(--container-background);
}

.header-link {
  color: var(--link-color);
}

.header-link:hover {
  color: var(--link-color-hover);
}

.content {
  padding: 15px 0;
}

.title {
  background: linear-gradient(180deg, var(--title-background-up) 1%, var(--title-background-down)),
    url(/library/pictures/background/index_bg.jpg);
  height: 700px;
  padding: 0 100px;
  align-content: center;
  text-align: center;
}

.title h1 {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: lighter;
}

.title-controls {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.cards-container {
  text-align: center;
  padding: 10px 0;
}

.card {
  margin: 15px;
  padding: 0 0 15px 0;
  width: 270px;
  display: inline-block;
  border-radius: var(--global-container-border);
  text-align: center;
  cursor: default;
  border: var(--dark-container-border);
}

.card p {
  font-size: 15px;
  padding: 7px 7px 15px;
}

.card-picture {
  padding: 0 0 15px;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.long-card {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-radius: var(--global-container-border);
}

.long-card > figure {
  width: 35%;
  text-align: center;
  align-content: center;
  align-items: center;
}

.long-card-picture {
  width: 170px;
}

.long-card > div {
  width: 65%;
  padding: 1%;
  align-content: center;
}

.long-card > div p {
  padding: 10px 0;
}

.proyects-cards-container {
  display: flex;
  margin: 10px 0;
  gap: 15px;
}

.project-card {
  display: flex;
  padding: 20px 10px;
  width: 49%;
  gap: 5px;
  border: var(--dark-container-border);
  border-radius: var(--global-container-border);
}

.project-image{
  height: 90px;
  width: 100%;
}

.tags-container {
  padding: 0 0 5px 0;
}

.slide_picture_container {
  width: 30%;
}

.proj_slide_description {
  width: 70%;
}

.slide_picture {
  width: 100%;
  border-radius: var(--global-container-border);
}

.happy-bite-collection {
  text-align: center;
  padding: 20px;
  margin: 40px 5%;
  color: var(--color);
  background: var(--hbc-container-backgorund);
  border: 0.5px solid var(--hbc-border-color);
}

#hbc-button {
  color: var(--hbc-border-color);
  background-color: var(--hbc-background-base);
  border: 1px solid var(--hbc-border-color);
}

#hbc-button:hover {
  background-color: var(--hbc-border-color);
  color: var(--hbc-background-base);
}

.learning > h2 {
  padding: 10px;
  text-align: center;
}

.article {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  border: var(--dark-container-border);
}

.article > .content-article {
  width: 89%;
  text-align: left;
}

.article > .controls {
  width: 10%;
  text-align: center;
  align-content: center;
}

.article-body{
  padding: 5px 0;
  text-align: justify;
}

.other-sites {
  text-align: center;
  display: flex;
}

.other-sites > figure {
  width: 40%;
  background: linear-gradient(110deg, #52171744, #61602642);
  padding: 2%;
  text-align: center;
}

.other-site-body {
  width: 60%;
  padding: 20px ;
  text-align: left;
}

@media screen and (min-width: 1400px) {
  .cards-container,
  .happy-bite-collection,
  .learning,
  .container {
    margin: 50px 14%;
  }
}

@media screen and (max-width: 800px) {
  .title {
    padding: 0 10px;
    text-align: center;
  }

  .card {
    margin: 10px;
  }

  .cards-content {
    text-align: center;
  }

  .long-card {
    height: auto;
    display: inline-block;
  }

  .long-card figure {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .long-card > div {
    width: 100%;
  }

  .proyects-cards-container {
    display: inline;
  }

  .project-card, .learning {
    margin: 10px 25px;
    width: auto;
  }

  .article {
    display: block;
    width: 100%;
    text-align: center;
  }

  .content-article, .controls {
    width: 100%;
  }

  .other-sites {
    display: block;
  }

  .other-sites > figure, .other-site-body {
    width: 100%;
  }
}
