:root {
  --hbc-background-base: #02061b;
  --hbc-border-color: #e169ff;
  --hbccontainer-backgorund: linear-gradient(110deg, #83f1ff44, #9f8eff42);

  --dark-container-border: 0.5px solid #303030;
  --global-container-border: 5px;
}

body {
  background-image: linear-gradient(180deg, #000000c4, #000000c4),
    url(../library/pictures/background/index_bg.jpg);
  background-position: center;
  color: var(--dark-color);
}

.container {
  margin: 40px 5%;
  border: var(--dark-container-border);
  box-shadow: var(--datk-container-shadow);
  background-color: var(--dark-container-background);
  border-radius: var(--global-container-border);
}

.header-link {
  color: var(--dark-color);
}

.header-link:hover {
  color: var(--dark-link-color);
}

.content {
  background-color: var(--dark-background);
  padding: 15px 0;
}

.title {
  height: 700px;
  margin: 0 100px;
  align-content: center;
  text-align: center;
}

.title h1 {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: lighter;
}

.title-controls {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.cards h2 {
  padding: 10px 0;
  text-align: center;
}

.cards-container {
  text-align: center;
  padding: 10px 0;
}

.card {
  margin: 15px;
  padding: 0 0 15px 0;
  width: 270px;
  display: inline-block;
  background-color: var(--dark-container-background);
  border-radius: var(--global-container-border);
  text-align: center;
  cursor: default;
  border: var(--dark-container-border);
  box-shadow: var(--datk-container-shadow);
}

.card p {
  font-size: 15px;
  padding: 7px 7px 15px;
}

.card-picture {
  padding: 0 0 15px;
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.long-card {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-radius: var(--global-container-border);
}

.long-card-picture {
  width: 200px;
}

.long-card > div {
  padding: 1%;
  align-content: center;
}

.long-card > div p {
  padding: 10px 0;
}

.pro_slides_container {
  margin: 1% 0;
  padding: 0 5px;
  display: flex;
  overflow-x: scroll;
  gap: 2px;
}

.pro_slide {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 1%;
  width: 32%;
  min-width: 32%;
  border-radius: 5px;
  font-weight: 15px;
  gap: 3px;
  background-color: var(--dark-container-background);
  border: var(--dark-container-border);
  box-shadow: var(--datk-container-shadow);
}

.slide_picture_container {
  width: 30%;
}

.proj_slide_description {
  width: 70%;
}

.slide_picture {
  width: 100%;
  border-radius: var(--global-container-border);
}

/* SIDER AUTOMATE */
@keyframes scroll {
  0% {
    -webkit-transform: translate(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(calc(-200px * 4));
    transform: translateX(calc(-200px * 4));
  }
}

.repo-slider {
  margin: 1% 0;
  gap: 0px;
  overflow: hidden;
}

.track-slider {
  display: flex;
  -webkit-animation: scroll 10s linear infinite;
  width: calc(200px * 17);
  animation: scroll 10s linear infinite;
}

.track-slider > div {
  width: 200px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 8px 30px;
  color: var(--light-color);
}

#letter-escalante {
  color: yellowgreen;
}

#letter-escalia {
  color: var(--escalia-background);
}

#letter-lingard {
  color: cyan;
}

#letter-barrientos {
  color: gold;
}

.happy-bite-collection {
  text-align: center;
  padding: 20px;
  margin: 40px 5%;
  border-radius: 7px;
  font-weight: bold;
  color: var(--hbc-border-color);
  background-color: var(--hbc-background-base);
  border: 1px solid var(--hbc-border-color);
}

#hbc-button {
  color: var(--hbc-border-color);
  background-color: var(--hbc-background-base);
  border: 1px solid var(--hbc-border-color);
}

#hbc-button:hover {
  background-color: var(--hbc-border-color);
  color: var(--hbc-background-base);
}

footer {
  background-color: var(--dark-background);
}

@media screen and (min-width: 1400px) {
  .happy-bite-collection,
  .container {
    margin: 40px 14%;
  }
}

@media screen and (max-width: 800px) {
  .title {
    margin: 0 10px;
    text-align: center;
  }

  .card {
    margin: 10px;
  }

  .cards-content {
    text-align: center;
  }

  .long-card {
    margin: 10px 25px;
    height: auto;
    display: inline-block;
  }

  .long-card figure {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pro_slides_container {
    margin: 1% 0;
    display: block;
    overflow-x: hidden;
  }

  .pro_slide {
    margin: 1%;
    padding: 1%;
    width: 98%;
    background-color: transparent;
    box-shadow: none;
  }
}
