:root {
  --dark-container-border: 0.5px solid #303030;
  --datk-container-shadow: #ec013825 0 5px 20px -2px;
}

body {
  background-color: var(--background);
  color: var(--color);
}

.header-link {
  color: var(--link-color);
}

.header-link:hover {
  color: var(--link-color-hover);
}

.content {
  text-align: center;
  padding: 20px 0;
}

.pro-welcome {
  padding: 13% 5%;
  width: 50%;
}

.pro_wel_title {
  text-align: end;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
}

.pro_wel_menu {
  display: flex;
  justify-content: end;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.pro_slides_container::-webkit-scrollbar {
  display: none;
}

.pro_slides_container {
  margin: 1% 0;
  padding: 0 5px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pro_slide {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 2% 0.5%;
  width: 32%;
  min-width: 32%;
  border-radius: 5px;
  font-weight: 15px;
  gap: 3px;
  border: var(--dark-container-border);
  box-shadow: var(--datk-container-shadow);
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.slider-controls button {
  background: #242424;
  color: var(--color);
  border: none;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.slider-controls button:hover {
  background: #3d3d3d;
}

.slide_picture_container {
  width: 35%;
}

.proj_slide_description {
  width: 65%;
}

.slide_picture {
  width: 100%;
  border-radius: 10px;
}

.pro_content {
  margin: 5% 3%;
  padding: 0.5% 0;
  display: flex; /*flex*/
  gap: 5px;
}

.pro_description {
  width: 65%;
  padding: 90px 50px 90px 60px;
  text-align: center;
  display: inline-flexbox;
}

.pro_description > h2 {
  padding: 10px 0;
}

/*pending*/
#pro_cont_picture_1 {
  width: 35%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.pro_picture {
  display: flex;
  justify-content: center;
}

.p-picture {
  margin-left: 0px;
  border-radius: 20px;
  border: var(--dark-container-border);
  height: 350px;
}

.pro_controls {
  padding-top: 10px;
}

@media screen and (min-width: 1400px) {
  .content {
    margin: 5% 14%;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .pro-welcome {
    padding: 150px 2%;
    width: 100%;
  }

  .pro_wel_title {
    text-align: center;
  }

  .pro_content {
    display: inline;
  }

  .pro_description {
    width: 100%;
    padding: 35px 20px;
  }

  .pro_slide {
    width: 98%;
    min-width: 98%;
  }

  #pro_cont_picture_1 {
    width: 100%;
  }

  .pro_picture {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .p-picture {
    height: 100%;
    width: 300px;
  }

  .pro_wel_menu {
    display: inline;
    text-align: center;
  }
}