* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", "Comfortaa", sans-serif;
}

:root {
  --dark-container-border: 0.5px solid #303030;
  --datk-container-shadow: #5301ec25 0 5px 20px -2px;

  --hbc-background-base: #02061b;
  --hbc-border-color: #e169ff;
}

:root, [data-theme="dark"] {
  --escalia-logo: #ec0138;

  --background: #151515;
  --container-background: #191919;
  --color: #ffffff;
  --button-color: #a4031f;
  --link-color: #FFFFFF;
  --link-color-hover: #fc99a6;
  --header-background: #151515;

  --tag-background: #190529;
  --tag-color: #ff87ab;
  --sotw-background: #210042;
}

[data-theme="light"] {
  --background: #dfe8eb;
  --container-background: #dfe8eb;
  --color: #000000;
  --button-color: #a4031f;
  --link-color: #000000;
  --link-color-hover: #6df7bd;
  --header-background: #DAE0F2;

  --tag-background: #6df7bd;
  --tag-color: #190529;
  --sotw-background: #cee1ec;
}

/* --- HEADER STYLES --- */
.logo {
  width: 130px;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 4%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

body {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--color);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #464646;

}

.menu {
  display: flex;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.menu-logo {
  color: var(--color);
}

#menu {
  display: none;
}

.menu-icon {
  width: 32px;
}

.header-link {
  font-size: 19px;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-weight: lighter;
}

.header-link:hover {
  transition: 0.5s;
}

.item ul.dropdown > li {
  display: block;
}

.item ul.dropdown {
  width: 250px;
  display: none;
  position: absolute;
  padding: 10px 30px;
  background: var(--header-background);
  min-width: 160px;
  z-index: 3;
  border-radius: 5px;
  border: var(--dark-container-border);
}

.link a:hover {
  background-color: var(--color);
}

.item:hover ul.dropdown {
  display: block;
}

.link-sub {
  text-align: left;
  width: 100%;
  font-weight: normal;
  padding: 4% 0;
}

.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: var(--background);
  width: 50px; /* Ancho ajustado a 50px */
  height: 25px; /* Alto ajustado a 25px */
  border-radius: 12.5px; /* La mitad del alto para que sea ovalado */
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch::before {
  content: "";
  font-weight: 900;
  background-color: var(--color);
  width: 19px;
  height: 19px;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--escalia-logo);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "";
  left: 28px;
  color: var(--background);
}

label {
  cursor: pointer;
  display: none;
}

button.button {
  margin: 3px;
  padding: 7px 20px;
  cursor: pointer;
  border: 0.5px solid #464646;
  color: var(--color);
  background-color: transparent;
  font-size: 14px;
}

.button:hover {
  border: 0.5px solid var(--button-color);
  color: var(--button-color);
  transition: 0.4s;
}

.tag {
  padding: 7px 14px;
  font-size: 13px;
  background-color: var(--tag-background);
  /*background: linear-gradient(120deg, #3800667a, #3800667a);*/
  background-size: 450px 100px;
  color: var(--tag-color);
  border: 1px solid #ffffff25;
  border-radius: 30px;
}

/* --- FOOTER ATRIBUTES --- */
footer {
  padding: 10px 20px;
}

footer .about-me {
  display: flex;
  gap: 5px;
  padding: 5px 0 5px 0;
  justify-content: space-between;
}

.media-links {
  display: flex;
  gap: 5px;
}

.social-link {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.social-logo {
  display: flex;
}

.social-logo > img {
  width: 30px;
  height: 30px;
}

.footer-logo {
  color: var(--color);
}

.f-logo {
  display: flex;
  width: 18%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot-logo {
  width: 150px;
}

footer > .privacy-info {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.rules ul {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 800px) {
  header {
    height: 55px;
  }

  .logo {
    width: 105px;
  }

  label {
    display: initial;
  }

  .menu {
    padding: 20px 10px;
    width: 200px;
    padding-bottom: 400px;
    height: 2000%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--background);
    display: none;
  }

  .item {
    text-align: center;
    margin: 2px 10px;
    padding: 0;
    height: auto;
  }

  .header-link {
    color: var(--color);
    width: 100%;
  }

  .header-link:hover {
    background-color: var(--link-color-hover);
    color: var(--background);
  }

  #menu:checked ~ .menu {
    display: inline;
  }

  /* FOOTER */
  footer {
    padding: 15px;
  }

  footer .about-me {
    align-items: center;
    justify-content: center;
    display: inline;
    bottom: 0;
  }

  footer .about-me {
    display: inline;
    padding: 5px 0;
    justify-content: center;
    text-align: center;
  }

  .media-links {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .about-me {
    display: inline;
  }

  .f-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  footer .foot-logo {
    justify-content: center;
  }

  footer .privacy-info {
    display: block;
  }

  .rules ul {
    display: block;
  }

  .rules li {
    text-align: center;
  }

  .credits {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
}
